@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00a2ff;
    background-size: cover;
}

h1 {
    font-size: 2.5rem;
    color: #fff200;
    text-shadow: 0 0 10px #1010ac;
    margin-bottom: 1rem;
}

hr {
    border: 1px solid #1010ac;
    width: 80%;
    margin: 1rem 0 1rem 0;
}

.img-character {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
}

.container-card {
    padding-top: 20px;
    width: 20rem;
    height: 30rem;
    border: groove 4px #1010ac;
    border-radius: 15px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff200;
}

.name-character {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    color: #ebeb08;
    text-shadow: 0 0 10px #1010ac;
}

.quote-character {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.5rem;
    color: #d48b1e;
}

button {
    --color: #f6ff00;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    background-color: #000000;
    cursor: pointer;
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

button:hover {
    color: #000000;
}

button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: #e5ff00;
    transition: background 0s;
}